html {
  height: auto;
  width: auto;
}

body {
  height: auto;
  width: auto;
}
#heading {
  width: 100%;
}

#promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: red;
  color: white;
  height: 21px;
}
#promo p {
  font-size: 12px;
  padding-top: 1px;
  padding-bottom: 3px;
}
#promo a {
  text-decoration: underline;
  color: white;
}
@media only screen and (min-width: 900px) {
  .mobile-nav {
    visibility: hidden;
  }
}
@media only screen and (max-width: 900px) {
  #main-nav #home {
    padding-left: 1%;
  }
  #store-nav li a {
    display: none;
  }
  #icon-nav {
    margin: 5px;
  }
  .mobile-nav {
    visibility: visible;
    display: block;
    width: 15px;
    height: 1px;
    background-color: black;
    margin: 5px;
  }
}
#mobile-nav-wrapper {
  margin-right: 4%;
  margin-top: 4px;
}
.mobile-nav {
  display: block;
  width: 15px;
  height: 1px;
  background-color: black;
  margin: 5px;
}
#main-nav {
  background-color: white;
  text-decoration: none;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 13px;
  height: auto;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#home img {
  width: auto;
  max-height: 40px;
  height: auto;
}
#home li {
  padding-right: 5%;
}

#store-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 5%;
}
#store-nav a:hover {
  text-decoration: none;
  color: lightgrey;
}
#store-nav li {
  padding-right: 5%;
}
#store-nav li a {
  color: black;
  font-weight: bold;
  position: relative;
  top: 15%;
}

#icon-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#icon-nav svg {
  color: grey;
}
#icon-nav svg:hover {
  color: black;
}
#icon-nav li {
  display: inline;
  padding-right: 5%;
}

#banner {
  position: relative;
}
#banner img {
  width: 100%;
  height: auto;
}
#banner #buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 49%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media only screen and (max-width: 900px) {
  #banner #buttons {
    display: none;
  }
}
#banner .btn {
  color: black;
  background-color: white;
  font-weight: bold;
  border-radius: 0px;
  font-size: 15px;
  width: auto;
  height: auto;
}
#banner #btn1 {
  width: 100%;
  height: 100%;
  margin-right: 8px;
  border-radius: 0px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
}
#banner #btn2 {
  width: 100%;
  height: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
}

#gg-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
#gg-banner img {
  width: 20%;
  height: 20%;
}
@media only screen and (max-width: 900px) {
  #gg-desc {
    visibility: hidden;
    height: 0;
  }
  #gg-banner img {
    width: 50%;
  }
}
#gg-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
#gg-desc a {
  font-weight: bold;
  text-decoration: none;
  color: red;
}

#categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
#categories #kids {
  margin-right: 2%;
  position: relative;
  text-align: center;
  color: white;
}
#categories #kids img {
  width: 100%;
  height: auto;
}
#categories #beginners {
  margin-right: 2%;
  margin-left: 2%;
  position: relative;
  color: white;
}
#categories #beginners img {
  width: 100%;
  height: auto;
}
#categories #popular {
  margin-left: 2%;
  position: relative;
  color: white;
}
#categories #popular img {
  width: 100%;
  height: auto;
}

#brand-statement {
  display: block;
  height: auto;
  width: auto;
  margin-top: 3%;
}
@media only screen and (max-width: 1860px) {
  #brand-statement {
    visibility: hidden;
  }
  #sale-buttons {
    visibility: hidden;
  }
  #brand-statement img {
    visibility: visible;
    width: auto;
    max-height: 15px;
  }
}

#brand-statement h4 {
  top: 1670px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  width: 100%;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  justify-content: center;
  color: white;
  padding-top: 1%;
  position: absolute;
}
#brand-statement p {
  display: block;
  text-align: center;
  margin-bottom: 2px;
  padding: 5px 5px;
  top: 1720px;
  color: white;
  position: absolute;
  width: 100%;
}
#brand-statement #sale-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  justify-content: center;
  width: 100%;
  position: absolute;
  top: 1790px;
}
#brand-statement button {
  border: none;
  margin-bottom: 1%;
  margin-left: 1%;
}
#brand-statement button:hover {
  opacity: 0.5;
}
#brand-statement img {
  width: 100%;
  height: 180px;
  position: relative;
}

#popular-boards {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#popular-boards h5 {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: black;
}

.caro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 330px;
  max-height: 295px;
  max-width: 100%;
}

#carousel-container {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.sliders {
  display: block;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
.sliders p {
  text-align: center;
  font-size: small;
}
.sliders #dimensions {
  font-size: small;
}
.sliders .btn .btn-danger {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;

  height: 100%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: black;
}
@media only screen and (max-width: 854px) {
  #tab-desk {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  #mobile-footer {
    visibility: visible;
    padding-top: 0;
  }
}
@media only screen and (min-width: 854px) {
  #mobile-footer-div {
    visibility: hidden;
    height: 0;
  }
}

#mobile-footer-div {
  background-color: black;
  display: flex;
  width: 100%;

  justify-content: center;
  text-align: center;
}
.mfd {
  padding-right: 5%;
}
.mfd a {
  font-size: 12px;
  text-decoration: none;
  color: white;
  padding-bottom: 5%;
}
#mobile-footer-div a:hover {
  color: blue;
}
#the-company {
  color: white;
  text-decoration: none;
  margin-right: 4%;
}
#the-company h5 {
  padding-bottom: 6%;
  font-size: 15px;
  font-weight: bold;
}
#the-company a {
  color: white;
}
#the-company h4 {
  padding-bottom: 6%;
}

#explore {
  color: white;
  text-decoration: none;
  padding-left: 5%;
  padding-right: 5%;
}
#explore h5 {
  padding-bottom: 6%;
  font-size: 15px;
  font-weight: bold;
}
#explore a {
  color: white;
}

#cs {
  color: white;
  text-decoration: none;
  padding-right: 5%;
}
#cs h5 {
  padding-bottom: 6%;
  font-size: 15px;
  font-weight: bold;
}
#cs a {
  color: white;
}

#contact {
  color: white;
}
#contact #subscribe {
  vertical-align: bottom;
  border: none;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #2f3241;
  color: white;
}
#contact #newsletter {
  vertical-align: bottom;
  height: 30px;
}
#contact a {
  color: white;
  text-decoration: underline;
}
#contact h5 {
  font-size: 15px;
  padding-bottom: 2.4%;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
