html {
  max-width: 100%;
}

body {
  max-width: 100%;
}

#heading {
  width: 100%;
}
#heading #brand {
  margin-right: auto;
}
#heading img {
  width: auto;
  max-height: 40px;
  height: auto;
  position: relative;
  left: 95%;
}
#heading #promo {
  display: flex;
  justify-content: center;
  background-color: red;
  color: white;
  height: 21px;
}
#heading #promo p {
  font-size: 12px;
  padding-top: 1px;
  padding-bottom: 3px;
}
#heading #promo a {
  text-decoration: underline;
  color: white;
}

#main-nav {
  background-color: white;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0%;
  margin-top: 15px;
}
#main-nav #home {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
#main-nav #home li {
  display: inline;
  padding-right: 5%;
}
#main-nav #store-nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-left: 3%;
}
#main-nav #store-nav li {
  padding-right: 5%;
}
#main-nav #icon-nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
#main-nav #icon-nav li {
  display: inline;
  padding-right: 5%;
}

#banner {
  position: relative;
}
#banner img {
  width: 100%;
  height: auto;
}
#banner #buttons {
  width: 100%;
  display: flex;
  position: absolute;
  top: 49%;
  left: 25%;
  transform: translate(-50%, -50%);
  justify-content: center;
}
#banner .btn {
  color: black;
  background-color: white;
  font-weight: bold;
  border-radius: 0px;
  font-size: 15px;
  width: auto;
  height: auto;
}
#banner #btn1 {
  margin-right: 8px;
  border-radius: 0px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
}
#banner #btn2 {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
}

#gg-banner {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
#gg-banner img {
  width: 20%;
  height: 20%;
}

#gg-desc {
  display: flex;
  justify-content: center;
  text-align: center;
}
#gg-desc a {
  font-weight: bold;
  text-decoration: none;
  color: red;
}

#categories {
  display: flex;
  justify-content: center;
  width: 100%;
}
#categories #kids {
  margin-right: 2%;
  position: relative;
  text-align: center;
  color: white;
}
#categories #kids img {
  width: 100%;
  height: auto;
}
#categories #beginners {
  margin-right: 2%;
  margin-left: 2%;
  position: relative;
  color: white;
}
#categories #beginners img {
  width: 100%;
  height: auto;
}
#categories #popular {
  margin-left: 2%;
  position: relative;
  color: white;
}
#categories #popular img {
  width: 100%;
  height: auto;
}

#brand-statement {
  background-image: url("/img/lb-background.jpg");
  height: auto;
  width: auto;
  margin-top: 3%;
}
#brand-statement h4 {
  text-align: center;
  color: white;
  padding-top: 1%;
}
#brand-statement p {
  margin-bottom: 2px;
  padding: 5px 5px;
  text-align: center;
  color: white;
  margin-top: 1%;
  display: block;
  height: auto;
}
#brand-statement #sale-buttons {
  display: flex;
  justify-content: center;
}
#brand-statement button {
  border: none;
  margin-bottom: 1%;
  margin-left: 1%;
}

#popular-boards {
  height: 50%;
  display: flex;
  width: 100%;
  justify-content: center;
}
#popular-boards h5 {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: black;
}

.caro {
  display: flex;
  justify-content: center;
  max-width: 330px;
  max-height: 295px;
  max-width: 100%;
}

#carousel-container {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.slick-next {
  background-color: grey;
  border-radius: 85%;
  height: 5%;
}

.slick-prev {
  background-color: grey;
  border-radius: 85%;
  height: 5%;
}

.sliders {
  display: block;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
.sliders p {
  text-align: center;
  font-size: small;
}
.sliders #dimensions {
  font-size: small;
}
.sliders .btn .btn-danger {
  align-items: center;
}

footer {
  display: flex;
  width: 100%;
  padding-top: 2%;
  justify-content: center;
  background-color: black;
}

#the-company {
  color: white;
  text-decoration: none;
  margin-right: 4%;
}
#the-company h5 {
  padding-bottom: 6%;
  font-size: 15px;
  font-weight: bold;
}
#the-company a {
  color: white;
}
#the-company h4 {
  padding-bottom: 6%;
}

#explore {
  color: white;
  text-decoration: none;
  padding-left: 5%;
  padding-right: 5%;
}
#explore h5 {
  padding-bottom: 6%;
  font-size: 15px;
  font-weight: bold;
}
#explore a {
  color: white;
}

#cs {
  color: white;
  text-decoration: none;
  padding-right: 5%;
}
#cs h5 {
  padding-bottom: 6%;
  font-size: 15px;
  font-weight: bold;
}
#cs a {
  color: white;
}

#contact {
  color: white;
}
#contact #subscribe {
  vertical-align: bottom;
  border: none;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #2f3241;
  color: white;
}
#contact #newsletter {
  vertical-align: bottom;
  height: 30px;
}
#contact a {
  color: white;
  text-decoration: underline;
}
#contact h5 {
  font-size: 15px;
  padding-bottom: 2.4%;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
