html {
  max-width: 100%;
}
body {
  max-width: 100%;
}
#heading {
  width: 100%;
}
#promo {
  display: flex;
  justify-content: center;
  background-color: red;
  color: white;
  height: 21px;
  p {
    font-size: 12px;
    padding-top: 1px;
    padding-bottom: 3px;
  }
  a {
    text-decoration: underline;
    color: white;
  }
}

#main-nav {
  background-color: white;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 13px;
  height: auto;
}
#home {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  img {
    width: auto;
    max-height: 40px;
    height: auto;
  }
  li {
    padding-right: 5%;
  }
}
#store-nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-right: 5%;

  a:hover {
    text-decoration: none;
    color: lightgrey;
  }
  li {
    padding-right: 5%;

    a {
      color: black;
      font-weight: bold;
      position: relative;
      top: 15%;
    }
  }
}
#icon-nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  svg {
    color: grey;
  }
  svg:hover {
    color: black;
  }

  li {
    display: inline;
    padding-right: 5%;
  }
}

#banner {
  position: relative;
  img {
    width: 100%;
    height: auto;
  }

  #buttons {
    width: 100%;
    display: flex;
    position: absolute;
    top: 49%;
    left: 25%;
    transform: translate(-50%, -50%);
    justify-content: center;
  }
  .btn {
    color: black;
    background-color: white;
    font-weight: bold;
    border-radius: 0px;
    font-size: 15px;
    width: auto;
    height: auto;
  }
  #btn1 {
    margin-right: 8px;
    border-radius: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 20px;
    padding-left: 20px;
  }
  #btn2 {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
#gg-banner {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  img {
    width: 20%;
    height: 20%;
  }
}
#gg-desc {
  display: flex;
  justify-content: center;
  text-align: center;
  a {
    font-weight: bold;
    text-decoration: none;
    color: red;
  }
}
#categories {
  display: flex;
  justify-content: center;
  width: 100%;
  #kids {
    margin-right: 2%;
    position: relative;
    text-align: center;
    color: white;
    img {
      width: 100%;
      height: auto;
    }
  }
  #beginners {
    margin-right: 2%;
    margin-left: 2%;
    position: relative;
    color: white;
    img {
      width: 100%;
      height: auto;
    }
  }
  #popular {
    margin-left: 2%;
    position: relative;
    color: white;

    img {
      width: 100%;
      height: auto;
    }
  }
}
#brand-statement {
  display: block;
  height: auto;
  width: auto;
  margin-top: 3%;
  h4 {
    top: 1950px;
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
    padding-top: 1%;
    position: absolute;
  }
  p {
    display: block;
    text-align: center;
    margin-bottom: 2px;
    padding: 5px 5px;
    top: 2010px;
    color: white;
    position: absolute;

    width: 100%;
  }
  #sale-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 2075px;
  }
  button {
    border: none;
    margin-bottom: 1%;
    margin-left: 1%;
  }
  button:hover {
    opacity: 50;
  }
  img {
    width: 100%;
    height: 200px;
    position: relative;
  }
}
#popular-boards {
  height: 50%;
  display: flex;
  width: 100%;
  justify-content: center;
  h5 {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    color: black;
  }
}
.caro {
  display: flex;
  justify-content: center;
  max-width: 330px;
  max-height: 295px;
  max-width: 100%;
}
#carousel-container {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.slick-next {
  background-color: grey;
  border-radius: 85%;
  height: 5%;
}
.slick-prev {
  background-color: grey;
  border-radius: 85%;
  height: 5%;
}
.sliders {
  display: block;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  p {
    text-align: center;
    font-size: small;
  }
  #dimensions {
    font-size: small;
  }
  .btn .btn-danger {
    align-items: center;
  }
}
@mixin exp-cs-panels {
  color: white;
  text-decoration: none;
  h5 {
    padding-bottom: 6%;
    font-size: 15px;
    font-weight: bold;
  }
  a {
    color: white;
  }
}
footer {
  display: flex;
  width: 100%;
  padding-top: 2%;
  justify-content: center;
  background-color: black;
}
#the-company {
  @include exp-cs-panels;
  margin-right: 4%;
  h4 {
    padding-bottom: 6%;
  }
}
#explore {
  @include exp-cs-panels;
  padding-left: 5%;
  padding-right: 5%;
}
#cs {
  @include exp-cs-panels;
  padding-right: 5%;
}
#contact {
  color: white;
  #subscribe {
    vertical-align: bottom;
    border: none;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(47, 50, 65);
    color: white;
  }
  #newsletter {
    vertical-align: bottom;
    height: 30px;
  }
  a {
    color: white;
    text-decoration: underline;
  }
  h5 {
    font-size: 15px;
    padding-bottom: 2.4%;
    font-weight: bold;
  }
}
