html {
  max-width: 100%;
}

body {
  max-width: 100%;
}

#heading {
  width: 100%;
}

#main-nav {
  background-color: white;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0%;
  margin-top: 15px;
}
#main-nav #home {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
#main-nav #home li {
  display: inline;
  padding-right: 5%;
}
#main-nav #store-nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
#main-nav #store-nav li {
  display: inline;
  padding-right: 5%;
}
#main-nav #icon-nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
#main-nav #icon-nav li {
  display: inline;
  padding-right: 5%;
}

#banner {
  position: relative;
}
#banner img {
  width: 100%;
  height: auto;
}
#banner #buttons {
  width: 100%;
  display: flex;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}
#banner .btn {
  color: white;
  background-color: black;
}
#banner #btn1 {
  margin-right: 5px;
}

#gg-banner {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
#gg-banner img {
  width: 20%;
  height: 20%;
}

#gg-desc {
  display: flex;
  justify-content: center;
  text-align: center;
}
#gg-desc a {
  text-decoration: none;
  color: red;
}

#categories {
  display: flex;
  justify-content: center;
  width: 100%;
}
#categories #kids {
  margin-right: 2%;
  position: relative;
  text-align: center;
  color: white;
}
#categories #kids h1 {
  position: absolute;
  top: 49%;
  left: 38%;
  color: white;
}
#categories #kids p {
  position: absolute;
  top: 59%;
  left: 39%;
  color: white;
}
#categories #beginners {
  margin-right: 2%;
  margin-left: 2%;
  position: relative;
  color: white;
}
#categories #beginners h1 {
  position: absolute;
  top: 50%;
  left: 30%;
  color: white;
}
#categories #beginners p {
  position: absolute;
  top: 60%;
  left: 44%;
  color: white;
}
#categories #popular {
  margin-left: 2%;
  position: relative;
  color: white;
}
#categories #popular h1 {
  position: absolute;
  top: 50%;
  left: 30%;
  color: white;
}
#categories #popular p {
  position: absolute;
  top: 60%;
  left: 40%;
  color: white;
}

#brand-statement {
  display: block;
  margin-top: 2%;
  padding: 10px 10px;
  background-color: black;
  color: white;
  text-align: center;
  height: auto;
}
#brand-statement p {
  margin-bottom: 2px;
}

#popular-boards {
  height: 50%;
  display: flex;
  width: 100%;
  justify-content: center;
}
#popular-boards h5 {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: black;
}

.caro {
  display: flex;
  justify-content: center;
  max-width: 330px;
  max-height: 295px;
  max-width: 100%;
}

#carousel-container {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.slick-next {
  background-color: grey;
  border-radius: 85%;
  height: 5%;
}

.slick-prev {
  background-color: grey;
  border-radius: 85%;
  height: 5%;
}

.sliders {
  display: block;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
.sliders p {
  text-align: center;
  font-size: small;
}
.sliders #dimensions {
  font-size: small;
}
.sliders .btn .btn-danger {
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
